@import "tailwindcss";

@theme {
  --color-brand-primary: #910d22;
  --color-pressed-primary: #c12a36;
  --color-active-primary: #de3341;
  --color-hovered-secondary: #f2f2f2;
  --color-pressed-secondary: #e9e9e9;
  --color-disabled: #0000000a;
  --color-disabled-fg: #949494;
  --color-brand-slate: #111111;
  --color-white: rgba(255, 255, 255, 1);
  --radius-: 100px;
}
