@import "./base.css";

.rkt-button {
  @apply rounded-full border-transparent text-white font-medium text-base/6 flex justify-center items-center gap-2
    disabled:cursor-default
    focus-visible:outline-0
    hover:cursor-pointer
    /* default variant primary */
    bg-brand-slate active:bg-pressed-primary
    disabled:bg-disabled disabled:text-disabled-fg
    focus-visible:inset-ring-active-primary focus-visible:inset-ring-3
    hover:bg-active-primary
    /* default size md */
    py-3 px-5;
}

.rkt-button[data-size="lg"] {
  @apply px-6 py-4;
}

.rkt-button[data-icon-alignment="left"] {
  @apply pl-4.5;
}

.rkt-button[data-icon-alignment="right"] {
  @apply pr-4.5;
}

.rkt-button[data-variant="secondary"] {
  @apply bg-transparent text-brand-slate inset-ring-[1.5px] inset-ring-brand-slate
    active:bg-pressed-secondary
    disabled:bg-disabled disabled:text-disabled-fg disabled:inset-ring-disabled-fg
    focus-visible:inset-ring-brand-slate focus-visible:inset-ring-3
    hover:bg-hovered-secondary;
}
