@import "./base.css";

.rkt-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: var(--radius-dialog);
  padding: 1.5rem;
  box-shadow: var(--shadow-dialog);
  max-width: calc(100% - 3rem);
  color: var(--color-secondary);
  z-index: 999;
  width: 24rem; /* default size md */
}

.rkt-dialog::backdrop {
  background-color: var(--color-backdrop);
}

.rkt-dialog[data-size="lg"] {
  width: 100%;
}

.rkt-dialog__actions {
  margin-top: 2rem;
}

.rkt-dialog__title {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.rkt-dialog__close-xmark {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.125rem;
  cursor: pointer;
  border-radius: 9999px;
}

.rkt-dialog__close-xmark:focus-visible {
  outline: 0;
  background-color: var(--color-pressed-secondary);
  box-shadow: 0 0 0 2px var(--color-brand-slate);
}
