---
import { Code, TabItem, Tabs } from "@astrojs/starlight/components";

interface Props {
  code: string;
  lang?: string;
  highlights?: string[];
}

const { code, lang, highlights } = Astro.props;
---

<Tabs>
  <TabItem label="Preview">
    <div
      class="flex justify-center border border-gray-300 rounded-md p-10 items-center min-h-[250px] not-content"
    >
      <slot />
    </div>
  </TabItem>
  <TabItem label="Code">
    <div class="min-h-[250px]">
      <Code code={code} lang={lang} mark={highlights} />
    </div>
  </TabItem>
</Tabs>
