.tiny-bits-dialog {
  background-color: white;
  position: fixed;
  border: 0;
  align-self: center;
  justify-self: center;
  margin: 25px;
  min-width: 50%;
  border-radius: 4px;
  padding: 16px 8px;
}

.tiny-bits-dialog.tiny-bits-modal {
  &::backdrop {
    background-color: black;
    opacity: 0.5;
  }
}
